$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-black: #000;

$color-grey-dark:#333;
$color-grey-dark-1: #999; 
$color-grey-dark-2: #777;

$color-grey-light-2: #f4f2f2;
$color-grey-light-1: #faf9f9;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-primary-1: #25b40c;
$color-primary-light-1: rgb(51, 255, 68);
$color-primary-dark-1: rgb(55, 186, 38);

$color-primary: #2f32eb;
$color-primary-light: rgb(65, 51, 255);
$color-primary-dark: rgb(40, 38, 186);

// FONT
$default-font-size: 1.6rem; 

$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

$line: 1px solid var($color-grey-light-2);

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px