
html,body{
	margin:0;
	padding:0;
}
body{
	color: #737373;
	background: #fafafa;
	border: 1px solid #fafafa;
	-webkit-box-shadow: inset 0 0 45px #e7e7e7;
	box-shadow: inset 0 0 45px #e7e7e7;
	font:calibri,sans-serif;
	height:100;
	width:100;
}

.box{
	height:auto;
	margin:0 auto;
	margin-top:20px;
	padding:30px;
	margin-right: 5px;
	margin-bottom:40px;
	text-align:center;
	line-height:40px;
	 -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background:#f1f2f6;
}

.navbar{
  text-transform: uppercase;
  font-weight: 200;
  display: inline-block;
  background-image: linear-gradient(to right, #5aec41, #28b485);
  background-size: cover;
  border:none;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #55c57a;
}

.navbar-inverse .navbar-toggle {
    border-color: #eee;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #55c57a;
}

.slide__size{
	border:.5px solid #fff;
	background-size: cover;
	background-repeat:no-repeat;
	width:80%;
	left:10%;
	height:10%;
}

.item img{
	height:100%;
	width:100%;
}

.popup {
    width: 60%;
    align-content: center;
    position: fixed;
    background-color: rgba(#000, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    /* @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(#000, .3);
    } */
	}

    .popup__content {
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

        width: 75%;
        background-color: #fff;
        box-shadow: 0 2rem 4rem rgba(#000, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;
    }

    .popup__left {
        width: 33.333333%;
        display: table-cell;
    }

    .popup__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    .popup__img {
        display: block;
        width: 100%;
    }

    .popup__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
				 /* //1em = 14px; */
        -moz-column-rule: 1px solid #f4f2f2;

        column-count: 2;
        column-gap: 4rem;
				/* //1em = 14px; */
        column-rule: 1px solid #f4f2f2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    /* //Open states */
    .popup:target {
        opacity: 1;
        visibility: visible;
    }

    .popup:target .popup__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }


		    .popup__close,
        .popup__close:link,
        .popup__close:visited {
            color: #000;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }
				.popup__close,
        .popup__close:hover {
            color: #25b40c;
        }

.jumbotron{
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 100%, rgba(255, 255, 255, 0.9) 0%, transparent 100%), url(../../resourse/image/header.jpg);
  background-size: cover;
  border-radius: 0;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.jumbotron h2{
	text-transform: uppercase;
	color:#000;
}
.jumbotron p{
	color:#000;
}
 #heading{
text-align:center;
 }

 @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.dashboard-stat {
  display: block;
  padding: 30px 15px;
  text-align: right;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 5px;
}

.dashboard-stat .number {
  font-size: 28px;
  display: block;
}

.dashboard-stat .bg-icon {
  position: absolute;
  font-size: 80px;
  opacity: 0.4;
  left: 0;
  bottom: 0;
}

.dashboard-stat:hover {
  background: #292929 !important;
}

 .heading-primary--main {

	backface-visibility: hidden;

        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 1.5rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
		animation-timing-function: ease-out;

        /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
    }

    .heading-primary--main1 {

backface-visibility: hidden;

    display: block;
    letter-spacing: 1.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /*
    animation-delay: 3s;
    animation-iteration-count: 3;
    */
}

	.heading-primary--sub {
        display: block;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: .1rem;
        animation: moveInRight 1s ease-out;
}

.heading-primary--sub1 {
        display: block;
        letter-spacing: .1rem;
        animation: moveInRight 1s ease-out;
}


.btn,.btn:link,.btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: .5rem 2rem;
        display: inline-block;
        border-radius: 5rem;
        transition: all .2s;
        position: relative;
		font-size: 1.6rem;
		margin-bottom: 2px;

        /* Change for the <button> element */
        border: none;
        cursor: pointer;
    }

    .btn:hover {
        transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba(#000,.2);
	}

	.btn:hover::after {
		transform: scaleX(1.4) scaleY(1.6);
		opacity: 0;
	}

    .btn:active,.btn:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(#000,.2);
    }

    .btn--white {
        background-color: #fff;
		color: #777;
	}

	.btn--white::after {
		background-color: #fff;
	}

    .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    .btn--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
	}

	.portal {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

	#heading {
        animation: moveInTop .5s ease-out .75s;
        animation-fill-mode: backwards;
	}

	.form__group:not(:last-child) {
	margin-bottom: 1.5rem;
    }

    .form__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: #f4f2f2;
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
		transition: all .3s;
	}

        .form__input:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(#000, .1);
            border-bottom: 3px solid #25b40c;
        }

        .form__input:focus:invalid {
            border-bottom: 3px solid #ff7730;
        }

        .form__input::-webkit-input-placeholder {
            color: #777;
        }


    .form__label {
        color: #5643fa;
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

   .form__input:placeholder-shown + .form__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
	}

.h3{
	background: #d9edf7;
	line-height: 25px;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 10px;
	margin-bottom: 10px;
	text-transform: capitalize;
	color: #31708f;
	border-bottom: none;
	font-weight: bold;
}

 label,button,type,textarea,input,select{
	display:block;
	margin-top:5px;
	margin-bottom:5px;
}
input,select{
	width:100%;
}
.success{
	background:green;
	color:white;
	line-height:30px;
	border-radius:5px;
	height:30px;

	text-align:center;
	margin-bottom:10px;

}

.error{
	background:#ff1515;
	color:white;
	line-height:30px;
	border-radius:5px;
	height:30px;

	text-align:center;
	margin-bottom:10px;
}
#navi {
	float:left;
	width:150px;
}
#navi ul{
	list-style-type:circle;
}
#navi li{
	margin-bottom:4px;
}
a{
	text-decoration:none !important;
}
a:hover{
	color:black;
}
.record{
	list-style-type:square;
}
.record li{
	margin-top:15px;
}
table{
	min-width:100%;
	border-collapse:collapse;
}
table th,table td{
    text-align: center;
    align-items: center;
	border:1px solid #ddd;
	padding:2px;
}
tr:nth-child(odd){
	background: #fff;
}
strong{
	color:orange;
	padding:5px;
}
i{
	color:blue;
	padding:5px;
}
